@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Styling */
* {
  font-family: "Poppins", sans-serif;;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF6FF;
}
