@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Styling */
* {
  font-family: "Poppins", sans-serif;;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF6FF;
}

.skillList-container {
  width: 717px;
  height: 500px;
  box-shadow: 0px 10px 30px 2px #0d206748;
}

.options {
  
}